/* Navbar container */
body {
  font-family:Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #333;
}

.left_div {
    display:flex;
    align-items: center;
}

.right_div {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}
  
.logo {
    float: left;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

#search {
    float: left;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}

#search_button{
  position: relative;
  left: 10px;
  border-radius: 5px;
  width: 60px;
  height: 35px;
  background-color: #333;
  font-weight: bold;
  border-color: #3dc905;
  border-width: 3px;
  color: #3dc905;
}

  /* Links inside the navbar */
  .right {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 60px;
    height: 45px;
    line-height: 45px;
  }

  .right:hover {
    background-color: rgb(129, 129, 129);
  }

  .right_div .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    line-height: 45px;
    width: 140px;
  }

  .right_div .dropbtn:hover {
    background-color: rgb(129, 129, 129);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .post_area {
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    top: 30px;
  }

  .sort_bar {
    padding: 5px;
    display: flex;
    position: absolute;
    left: 83%;
    width: 235px;
    overflow: hidden;
  }

  .sort_bar .sort_btn {
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 15px;

  }

  .sort_bar .sort_btn:hover {
    background-color: rgb(129, 129, 129);
  }

  .post_area .post_box{
    border-style: none;
    border-color: black;
    border-width: 1px;
    height: 420px;
    width: 300px;
    margin:20px 32px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.452);
  }
  
  .post_box a {
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    color: black;
    margin:0px 0px 0px 3px;
  }

  #img_a {
    margin: 0px;
  }

  .post_box .button button{
    border: none;
    outline: none;
    vertical-align: center;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    margin:0px 25px 0px 25px;
  }

  .post_box .button button img {
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
  }

  .post_box .button button img:hover {
    transform: scale(1.2, 1.2);
  }

  .post_box .button {
    position: relative;
    top: 2px;
  }

  .post_box .info {
    font-size: 16px;
    font-weight: normal;
  }

  p {
    margin: 0px 0px;
  }

  #report_table {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    background-color:#ffffff;
    border:1px solid #333;
    padding:5px;
    top: 30%;
    right: 40%;
    left: 40%;
    width: 20%;
    border-radius: 10px;
    z-index: 99999999999;
  }

  #report_table_div {
    float: right;
  }

  #report_table_div button {
    border: none;
    width: 80px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
  }

  #report_table_div button:hover {
    background-color: rgba(54, 54, 54, 0.2);
  }

  #report_table_2 {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    background-color:#ffffff;
    border:1px solid #333;
    padding:5px;
    top: 30%;
    right: 40%;
    left: 40%;
    width: 20%;
    border-radius: 10px;
    z-index: 99999999999;
  }

  #report_table_div_2 button {
    border: none;
    width: 80px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
  }

  #report_table_div_2 button:hover {
    background-color: rgba(54, 54, 54, 0.2);
  }

  #report_table_div_2 {
    float: right;
  } 

  .p_margin {
    margin: 15px 0px;
  }

  #post_tag a {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
  }

  .post_box .button #like_button {
    margin: 0px 5px 0px 25px; 
  }

  .post_box .button #star_button {
    margin: 0px 25px 0px 45px;
  }

  #like_counter {
    font-size: 16px;
    position: absolute;
    bottom: 3px;
    z-index: 10000;
  }


