body {
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .navbar {
      background-color: #333;
  }
  
  .left_div {
      display:flex;
      align-items: center;
  }
  
  .right_div {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
  }
    
  .logo {
      float: left;
      font-size: 50px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      line-height: 45px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  }
  
  #search {
      float: left;
      text-decoration: none;
      font-size: 25px;
      border-radius: 5px;
  }
  
  #search_button{
    position: relative;
    left: 10px;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    background-color: #333;
    font-weight: bold;
    border-color: #3dc905;
    border-width: 3px;
    color: #3dc905;
  }
  
    /* Links inside the navbar */
    .right {
      font-size: 20px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      width: 60px;
      height: 45px;
      line-height: 45px;
    }
  
    .right:hover {
      background-color: rgb(129, 129, 129);
    }
  
    .right_div .dropbtn {
      font-size: 20px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      margin: 0;
      line-height: 45px;
    }
  
    .right_div .dropbtn:hover {
      background-color: rgb(129, 129, 129);
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
  
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    .dropdown-content a:hover {
      background-color: #ddd;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }

    #personal_profile_feild {
      display: block;
      flex-direction: column;
      margin: 10px 30%;
      position: absolute;
      width: 40%;
    }

    #personal_profile_feild .info_bar {
      font-size: 30px;
      font-weight: bold;
      margin-top: 10px;
    }

    #personal_profile_feild input {
      width: 100%;
      font-size: 20px;
    }

    #personal_profile_feild #profile_button {
      margin-top: 15px;
      position: absolute;
      right: -1%;
      bottom: -20%;
    }

    #personal_profile_feild button {
      border: none;
      width: 80px;
      height: 30px;
      margin: 0px;
      padding: 0px;
      border-radius: 5px;
    }

    #personal_profile_feild button:hover {
      background-color: rgba(54, 54, 54, 0.2);
    }

    #password {
      -webkit-text-security: disc;
  }
